@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

.button {
  display: inline-block;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
  border: none;
  outline: none;
}

.button:focus {
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3);
}

.button:active {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

html {
  font-size: 16px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::selection {
  background-color: pink;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.5rem;
}

@media (min-width: 961px) {
  p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 1rem;
  }
}

h1, h2, h3, h4 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

@media (min-width: 961px) {
  h1, h2, h3, h4 {
    margin-bottom: 1rem;
  }
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

@media (min-width: 961px) {
  h1 {
    font-size: 48px;
    line-height: 64px;
  }
}

h2 {
  font-size: 32px;
  line-height: 32px;
}

@media (min-width: 961px) {
  h2 {
    font-size: 36px;
    line-height: 56px;
  }
}

h3 {
  font-size: 20px;
  line-height: 32px;
}

@media (min-width: 961px) {
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
}

@media (min-width: 961px) {
  h4 {
    font-size: 20px;
    line-height: 32px;
  }
}
